<footer>
    <div id="footer-container">
        <div id="footer-left-side">
            <a href="">About Us</a>
            <a href="">Contact</a>
        </div>
        <div id="footer-right-side">
            <div id="twitter-container">
                <img src="../../assets/twitter.svg">
                <a href="">Twitter</a>
            </div>

            <div id="facebook-container">
                <img src="../../assets/facebook.svg">
                <a href="">Facebook</a>
            </div>

        </div>
    </div>
</footer>