footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202027;
    width: 100vw;
    height: 7vh;
}

#footer-info{
    a {
        font-family: Poppins, sans-serif;
        color: #ffff;
    }
}
#footer-socials{
    a {
        font-family: Poppins, sans-serif;
        color: #ffff;
    }
}