<app-header></app-header>
<main>
    <div id="discover-container">
        <div id="discover-text">
            <p id="discover-text1">Discover new music</p>
            <div id="discover-icons">
                <img id="charts-icon" src="../../assets/microphone.svg" alt="charts">
                <img id="albums-icon" src="../../assets/albums.svg" alt="albums">
                <img id="more-icon" src="../../assets/more.svg" alt="more">
            </div>
            <p id="discover-text2">By joining you can benefit by listening to the latest albums resealed.</p>
        </div>
        <div id="discover-covers">
            <img id="album-covers" src="../../assets/covers.jpg" alt="four album covers displayed.">
        </div>
    </div>
</main>
<app-footer></app-footer>