<app-header></app-header>
<main>
    <div id="discover-container">
        <div id="discover-text">
            <p id="discover-text1">Discover new music</p>
            <div id="discover-icons">
                <div id="charts-icon">
                    <img src="../../assets/microphone.svg" alt="charts">
                    <p>Charts</p>
                </div>
                <div id="albums-icon">
                    <img src="../../assets/albums.svg" alt="albums">
                    <p>Albums</p>
                </div>
                <div id="more-icon">
                    <img src="../../assets/more.svg" alt="more">
                    <p>More</p>
                </div>
            </div>
            <p id="discover-text2">By joining you can benefit by listening to the latest albums resealed.</p>
        </div>
        <div id="discover-covers">
            <img id="album-covers" src="../../assets/covers.jpg" alt="four album covers displayed.">
        </div>
    </div>
</main>
<app-footer></app-footer>